@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --white: #ffffff;
    --transparent-white: rgba(255, 255, 255, 0.85);
    --black: #000000;
    --light-grey: #cbcbcb;
    --grey: rgb(128, 128, 128);
    --font: 'Nunito', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font);
    font-size: 16px;  
    height: 100vh;
}

main {
    display: flex;    
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* left page */
.left-page {
    width: 50%; 
}

form {
    width: 50%;
    margin: auto;
}

form h1 {
    color: var(--black);
    font-size: 2.5rem;
    margin: 0 auto;
}

form p {
    color: var(--grey);
    font-size: 1rem;
    margin-top: 0;
}

form input {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    height: 40px;
    margin: 5px 0;
}

form label {
    color: var(--black);
    font-weight: 600;
    padding-top: 5px;
    
}

.submit {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    height: 40px;
    border-radius: 5px;    
    border: 1px solid var(--black);
    margin: 5px 0;
}

.submit-google {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 40px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;    
    margin: 5px 0;     
}

.submit-google div {
    align-content: center;
}

.submit-google a {
    text-decoration: none;
    color: var(--grey);
    text-align: center;
}

.g-img {
    height: 50%;
    padding-right: 5px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

/* right page */
.right-page {
   width: 50%;
   height: 100%;
   background: url("../imgs/women_book.jpg") center no-repeat;   
   background-size: cover;
   position: relative;
}


.right-page div {
   
    background-color: var(--transparent-white);   
    width: 65%;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

