@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --white: #ffffff;
    --transparent-white: rgba(255, 255, 255, 0.85);
    --black: #000000;
    --light-grey: #cbcbcb;
    --grey: rgb(128, 128, 128);
    --font: 'Nunito', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font);
    display: flex;
    height: 100vh;
    align-items: center;
    font-size: 16px;
}

.left-page {
    width: 50%; 
}

.inner-container {
    width: 60%;
    margin: auto;
}

.left-page h1 {
    color: var(--black);
    font-size: 2.5rem;
    margin: 0 auto;
}

.left-page p {
    color: var(--grey);
    font-size: 1rem;
    margin-top: 0;
}

form input {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    height: 40px;
}

form label {
    color: var(--black);
    font-weight: 600;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.right-page {
    width: 50%;
     
}
